<% @opinions.each do |opinion|%>
<ul>
    <li style="list-style-type: none;">
    <p class="font-weight-bold">Post from <%= current_user.fullname %> </p>
    <%= opinion.text %>
    </li>
</ul>
<% end %>

