<div class="row">
    
    <div class="col-8 mt-4 bg-white border">
        <h4 class="border mt-3 text-white bg-dark text-center p-3">Posts from Self and Friends</h4>
        <% @opinions_all.each do |opinion|%>
        <ul>
            <li class="list-no-style">
            <p class="font-weight-bold">Post from <%= opinion.names(opinion.author_id).fullname %> </p>
            <%= opinion.text %>
            </li>
        </ul>
        <% end %>
    </div>

    <div class="col-4 w-100">
        
        <div class = "col-3 right-bar bg-light mt-4 pt-3 border w-900 h-auto mw-100 bg-white" >
            <%= who_to_follows %>
        </div>    
        
    </div>
</div>
