<div class="row">
    
    <div class="col-8 mt-4">
        <h4 class="border text-white bg-dark text-center p-3">Posts from Self and Friends</h4>
        <% @opinions_all.each do |opinion|%>
        <ul>
            <li class="list-no-style">
            <p class="font-weight-bold">Post from <%= opinion.names(opinion.author_id).fullname %> </p>
            <%= opinion.text %>
            </li>
        </ul>
        <% end %>
    </div>

    <div class="col-4 w-100">
        <%= who_to_follows%>
    </div>
</div>
