<div style="margin-bottom: 900px;">
<% @opinions_current_user_friends.each do |opinion|%>
<ul>
    <li style="list-style-type: none;">
    <p class="font-weight-bold">Post from <%= opinion.names(opinion.author_id).fullname %> </p>
    <%= opinion.text %>
    </li>
</ul>
<% end %>
</div>